<xf:if is="{$xf.options.at_asli_setting} == 'show_check'">
	<xf:checkboxrow>
		<xf:option name="remember" selected="true">{{ phrase('stay_logged_in') }}</xf:option>
	</xf:checkboxrow>
<xf:elseif is="{$xf.options.at_asli_setting} == 'show_uncheck'" />
	<xf:checkboxrow>
		<xf:option name="remember" selected="false">{{ phrase('stay_logged_in') }}</xf:option>
	</xf:checkboxrow>
<xf:elseif is="{$xf.options.at_asli_setting} == 'hide_check'" />
	<xf:hiddenval name="remember" value="1"></xf:hiddenval>
	<xf:if is="$xf.options.at_asli_info">
		<dl class="formRow">
			<dt>
				<div class="formRow-labelWrapper"></div>
			</dt>
			<dd>
				<ul class="inputChoices">
					<li class="inputChoices-choice">{{ phrase('at_asli_login_auto') }}</li>
				</ul>
			</dd>
		</dl>
	</xf:if>
<xf:elseif is="{$xf.options.at_asli_setting} == 'hide_uncheck'" />
	<xf:hiddenval name="remember" value="0"></xf:hiddenval>
	<xf:if is="$xf.options.at_asli_info">
		<dl class="formRow">
			<dt>
				<div class="formRow-labelWrapper"></div>
			</dt>
			<dd>
				<ul class="inputChoices">
					<li class="inputChoices-choice">{{ phrase('at_asli_login_unique') }}</li>
				</ul>
			</dd>
		</dl>
	</xf:if>
</xf:if>